
body {
	background :#f0f0f0;
	font-size: 17px; 
	line-height: 1.4;
  font-family: 'Jaldi', sans-serif;
	font-family: sans-serif;
	font-weight: bold;
	padding: 2rem;
}

.nosupport {
  text-align: center;
}

.top {
	text-align: center;
	background-color: white;
	color: #5d5d5d;
	padding: 1.5em;
	box-sizing: border-box;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.top-content {
	font-size: 1rem;
}

#main-picture {
	max-width: 100%;
	max-height: 100%;
}

.earth-picture {
	max-width: 32rem;
	align-self: center;
}

.earth-picture-card {
	background-color: white;
	padding: 1rem;
	max-width: 34rem;
	min-height: 1rem;
	box-sizing: border-box;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

.earth-picture-container {
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: -1em 0 0 0;
}

.earth-picture-container > * {
	margin-top: 3em;
}

.button {
  background: #0060a3;
  border: 3px solid #0060a3;
  box-sizing: border-box;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  width: 100%;
  max-width: 24rem;
  padding: 0.5rem 1.5rem;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  transition: 0.2s;
  display: block;
  user-select: none;
  cursor: default;
}

.button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 3rem;
}

.buttonContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button:hover {
  background: #005093;
  color: #f2f2f2;
}

.button:active, button.active {
  background: #ffffff;
  color: #0060a3;
}

.button:disabled {
  background: #f2f2f2;
  border: 3px solid transparent;
  color: #c0c0c0;
}

.iconLeft {
  width: 2rem;
  margin-right: 0.5rem;
}

